/* General Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #00ff00;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

#console {
    color: #33ff33;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: #00ff00;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

header {
    text-align: center;
    padding: 20px 100px 10px 10px;
    background-color: #1e1e1e;
    border-radius: 10px;
    border: 0.1px solid #00ff00;
    margin: 15px;
}

h1, h2 {
    color: #00ff00;
}

#contenedor {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin: 25px;
}

#repositorios, #credenciales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: #1e1e1e;
    border: 0.1px solid #00ff00;
    border-radius: 10px;
    width: 30%; /* Ajustado para pantallas grandes */
}

#credenciales {
    margin-top: 25px;
}

#repositorios {
    margin-top: 25px;
}

.credencial {
    text-align: center;
}

.credencial img {
    width: 100px;
    height: 100px;
}

#repo-list {
    list-style-type: none;
    padding: 0;
}

#repo-list li {
    margin: 10px 0;
}

#repo-list a {
    color: #00ff00;
    text-decoration: none;
}

#repo-list a:hover {
    text-decoration: underline;
}

.repo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.repo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.repo-desc {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1919;
    margin-top: 170px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 20px 20px;
    }

    #contenedor {
        flex-direction: column; /* Hacer que las secciones se apilen en móviles */
        gap: 20px; /* Aumentar el espacio entre secciones */
        margin: 10px;
    }

    #repositorios, #credenciales {
        width: 100%; /* Hacer que las secciones ocupen todo el ancho en dispositivos pequeños */
        padding: 10px;
    }

    .repo-item {
        margin-bottom: 15px;
    }

    #console {
        font-size: 18px; /* Reducir el tamaño de la fuente para móviles */
        margin: 10px;
    }

    footer {
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 10px;
    }

    h1, h2 {
        font-size: 18px; /* Reducir el tamaño de los títulos */
    }

    #console {
        font-size: 16px; /* Reducir más el tamaño de la consola */
    }

    #repositorios, #credenciales {
        width: 100%; /* Las secciones toman todo el ancho */
        padding: 5px;
    }

    .repo-img {
        width: 40px; /* Reducir el tamaño de las imágenes de los repositorios */
        height: 40px;
    }
}
